ALITWITTER_DATABASE_USERNAME={{ db_user }}
ALITWITTER_DATABASE_PASSWORD={{ db_password }}
ALITWITTER_DATABASE_IP={{ db_server }}
ALITWITTER_DATABASE_PORT=5432
ALITWITTER_DEVELOPMENT_DB_NAME={{db_user}}
ALITWITTER_TEST_DB_NAME=testing
ALITWITTER_DATABASE_NAME={{ db_user }}
RAILS_SERVE_STATIC_FILES=true
EXECJS_RUNTIME=Disabled
SECRET_KEY_BASE=secret_key
RAILS_ENV=production

